.main {
  grid-area: main;
  margin: 100px auto;
  text-align: start;
}

.header h1 {
  line-height: 44px;
  font-size: 36px;
  font-weight: 500;
  color: #101828;
}

.header p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

.form {
  margin-top: 25px;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 750px) {
  .main {
    width: 50vw;
  }

  .flex_container {
    flex-direction: row;
  }
}