.avatar_section {
  font-size: 20px;
  font-weight: bolder;
}

.avatar_container ,
.avatar_container > img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar_container > img {
  object-fit: cover;
}

.slack {
  display: none;
}
